// color
$c-white: #fff;
$c-primary: #000;

// font-family
$f-primary: "Noto Sans JP", sans-serif;
$f-primary-en: "Lato", sans-serif;
$f-zen: "Zen Old Mincho", serif;

// z-index
$z-index-header: 999;
$z-index-hamburgerMenu: 9998;
$z-index-hamburgerBtn: 9999;
