@use "sass:math";
@use "../../basic/setting" as *;
@use "../../basic/variables" as *;

.company {
    padding-top: 200px;
    width: 90%;
    max-width: 1390px;
    margin: 0 auto;
    @include mq(sp) {
        padding-top: 100px;
    }

    &_head {
        @include mq(sp) {
            width: 60%;
        }
    }

    .company_information {
        padding-top: 120px;
        padding-bottom: 120px;
        @include mq(tb) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include mq(sp) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &_inner {
            display: flex;
            justify-content: space-between;
            @include mq(ml) {
                flex-direction: column;
            }
        }

        &_title {
            padding-top: 20px;
            display: block;
            font-size: clampVw(20, 40, 40, 800);
            font-weight: bold;
        }

        &_item {
            font-size: clampVw(14, 18, 18, 800);
            line-height: 1.6;

            tr {
                max-width: 908px;
                display: grid;
                grid-template-columns: 250px 1fr; // 左：見出し、右：内容
                border-bottom: 1px solid #d3d3d3; // 線は tr にだけ

                @include mq(tb) {
                    grid-template-columns: 1fr; // 1列に
                    row-gap: 0.4rem; // th と td の間隔
                    padding: 15px 0;
                }
            }

            th,
            td {
                padding: 2.5rem 0;
                vertical-align: top;
                text-align: left;
                @include mq(tb) {
                    padding: 0.5rem 0;
                }
            }

            th {
                width: 230px;
            }

            .annotation {
                font-size: 15px;
            }

            td {
                width: 655px;
                font-weight: normal;
            }
        }
    }

    .company_message {
        padding: 120px 0;
        @include mq(sp) {
            padding: 30px 0;
        }

        &_inner {
            display: flex;
            justify-content: space-between;

            @include mq(ml) {
                flex-direction: column;
            }
        }

        &_title {
            /* 左列：見出し */
            margin: 0;
            font-size: clampVw(20, 40, 40, 800);
            font-weight: 700;
            line-height: 1.2;
            align-self: start; /* 上揃え */
        }

        &_item {
            max-width: 908px;
            font-size: clampVw(14, 18, 18, 800);
            line-height: 1.8;
        }

        &_head {
            margin-bottom: 60px;
            font-size: clampVw(16, 22, 34, 800);
            font-weight: 700;
            line-height: 1.6;
            margin: 0 0 1.2rem;
            @include mq(ml) {
                margin-top: 60px;
                margin-bottom: 30px;
            }
            @include mq(sp) {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }

        &_text {
            margin-bottom: 45px;
            @include mq(sp) {
                margin-bottom: 25px;
            }
        }

        &_name {
            font-size: clampVw(14, 18, 18, 800);
            font-weight: 500;
            text-align: right;

            strong {
                font-weight: 500;
                font-size: clampVw(18, 26, 35, 1000);
                margin-left: 10px;
            }
        }
    }
}
