@use "sass:math";
@use "../../basic/setting" as *;
@use "../../basic/variables" as *;

.service {
    .mv {
        padding: 250px 0 110px 0;
        position: relative;
        @include mq(tb) {
            padding: 250px 0 60px 0;
        }

        @include mq(sp) {
            padding-top: 100px;
        }

        &_inner {
            width: 90%;
            margin: 0 auto;
        }
        &_logo {
            display: flex;

            img {
                @include mq(tb) {
                    width: 30%;
                }
            }
        }

        &_copy {
            font-family: $f-zen;
            font-size: 39px;
            text-align: right;
            margin-top: 30px;
            margin-bottom: 40px;
            @include mq(tb) {
                font-size: 28px;
            }

            @include mq(sp) {
                font-size: 20px;
                margin-top: 0;
            }

            p {
                margin-bottom: 18px;
            }
        }

        .beneGroup {
            position: absolute;
            top: 500px;
            left: 3%;
            @include mq(tb) {
                top: 40%;
            }
            @include mq(sp) {
                top: 32%;
            }

            img {
                @include mq(md) {
                    width: 60%;
                }
            }
            img {
                @include mq(tb) {
                    width: 50%;
                }
            }
        }

        &_image {
            display: flex;
            align-items: center;
            overflow: hidden;
            gap: 8px;

            figure {
                flex: 1 1 50%;
                min-width: 0; /* はみ出し防止 */
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .sp_none {
                @include mq(sp) {
                    display: none;
                }
            }
        }
    }

    // コンセプト

    .concept {
        font-family: $f-zen;

        &_title {
            display: flex;
            justify-content: center;
            font-size: 32px;
            line-height: 1.6;
            @include mq(sp) {
                font-size: 24px;
            }
        }

        &_text {
            max-width: 335px;
            margin: 0 auto;
            font-size: 18px;
            @include mq(sp) {
                max-width: 270px;
                font-size: 14px;
            }
        }

        &_text_container {
            margin-top: 40px;
            line-height: 1.9;
        }

        &_image {
            margin-top: 110px;
            display: flex;
            justify-content: center;
            @include mq(sp) {
                margin-top: 60px;
            }
        }
    }

    // スタッフインタビュー

    .staff {
        padding-top: 200px;
        @include mq(md) {
            padding-top: 100px;
        }
        @include mq(sp) {
            padding-top: 60px;
        }

        &_wrapper {
            max-width: 1390px;
            width: 90%;
            margin: 0 auto;
        }

        &_item {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mq(sp) {
                flex-direction: column;
            }
        }

        &_main_image {
            display: block;
            margin-left: calc(50% - 50vw);
            width: 70%;
            @include mq(md) {
                width: 65%;
            }
            @include mq(sp) {
                width: 100%;
                margin: 0 auto;
            }
        }

        &_title {
            position: absolute;
            top: 30px;
            z-index: -5;

            .loop_item {
                display: flex;
                width: max-content;
            }

            .loop_inner_image {
                display: inline-block;
                animation: marquee 7s linear infinite;
                padding-right: 10px;

                img {
                    @include mq(tb) {
                        width: 50%;
                    }
                }
            }

            @keyframes marquee {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }

        &_copy {
            margin-top: 30px;
            margin-left: 3%;
            @include mq(tb) {
                margin-top: 10px;
            }
        }

        &_main_copy {
            font-size: clampVw(22, 35, 44, 1400);
            font-weight: bold;
            line-height: 1.6;
            @include mq(sp) {
                font-size: 22px;
                text-align: center;
                line-height: 1.4;
            }
        }

        &_sub_copy {
            margin-top: 30px;
            font-size: clampVw(15, 16, 20, 1400);
            font-weight: bold;
            line-height: 1.5;
            @include mq(tb) {
                margin-top: 20px;
                font-size: 14px;
                @include mq(sp) {
                    margin-top: 10px;
                }
            }
        }

        &_container {
            margin-top: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mq(sp) {
                flex-direction: column;
            }

            @include mq(md) {
                margin-top: 50px;
            }

            &:nth-child(3) {
                flex-direction: row-reverse;
                @include mq(sp) {
                    flex-direction: column;
                }
            }
            &_image {
                display: block;
                width: 45%;
                @include mq(sp) {
                    width: 100%;
                    margin-top: 20px;
                }
                img {
                    display: block;
                    width: 100%;
                }
            }
        }

        &_text {
            max-width: 600px;
            width: 47%;
            @include mq(sp) {
                width: 100%;
            }
        }

        &_question {
            position: relative;
            padding-left: 1.5em;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.5;
            @include mq(md) {
                font-size: clampVw(16, 18, 22, 900);
            }
            @include mq(sp) {
                font-size: 16px;
            }

            &::before {
                content: "Q.";
                position: absolute;
                left: 0;
                font-weight: bold;
                color: #000;
                font-family: serif;
            }
        }

        &_answer {
            margin-top: 45px;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.8;
            @include mq(md) {
                font-size: clampVw(14, 15, 16, 900);
                margin-top: 30px;
            }
            @include mq(sp) {
                margin-top: 25px;
                font-size: 14px;
            }
        }

        .threePhoto {
            width: 90%;
            max-width: 1390px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            margin-top: 90px;
            @include mq(tb) {
                max-width: auto;
                width: auto;
                gap: 5px;
            }
            @include mq(sp) {
                margin-top: 30px;
                display: flex;
                gap: 2px;
            }
        }
    }

    // SNS

    .sns {
        padding-top: 200px;
        padding-bottom: 140px;
        @include mq(md) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &_title {
            font-size: clampVw(18, 32, 32, 800);
            font-weight: bold;
            text-align: center;
        }

        &_list {
            width: 90%;
            max-width: 1390px;
            margin: 0 auto;
            margin-top: 70px;
            display: flex;
            justify-content: center;
            gap: 5%;
            @include mq(sp) {
                margin-top: 35px;
            }
        }

        &_item {
            &_name {
                font-size: clampVw(14, 20, 32, 800);
                font-weight: bold;
                text-align: center;
                margin-top: 25px;
            }

            &_account {
                font-size: clampVw(12, 15, 32, 800);
                font-weight: bold;
                text-align: center;
                margin-top: 12px;
                @include mq(sp) {
                    max-width: 98px;
                    margin: 0 auto;
                }
            }
        }
    }

    // イメージ写真

    .imagePhoto {
        display: block;
        display: flex;
    }

    // 店舗情報
    .shopinfo {
        padding-top: 120px;
        padding-bottom: 120px;
        max-width: 1390px;
        width: 90%;
        margin: 0 auto;
        @include mq(tb) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &_inner {
            display: flex;
            @include mq(ml) {
                flex-direction: column;
            }
        }

        &_title {
            font-size: clampVw(20, 40, 40, 800);
            font-weight: bold;
        }

        &_container {
            max-width: 910px;
            margin-left: auto;
            width: 70%;
            @include mq(ml) {
                width: 100%;
                margin: 0 auto;
            }
        }

        &_item {
            font-size: clampVw(14, 18, 18, 800);
            line-height: 1.6;
            width: 100%;

            tr {
                max-width: 908px;
                display: grid;
                grid-template-columns: 230px 1fr; // 左：見出し、右：内容
                border-bottom: 1px solid #d3d3d3; // 線は tr にだけ

                @include mq(tb) {
                    grid-template-columns: 1fr; // 1列に
                    row-gap: 0.4rem; // th と td の間隔
                    padding: 15px 0;
                }
            }

            th,
            td {
                padding: 2.5rem 0;
                vertical-align: top;
                text-align: left;
                @include mq(tb) {
                    padding: 0.5rem 0;
                }
            }

            th {
                width: 230px;
            }

            .annotation {
                font-size: 15px;
            }

            td {
                font-weight: normal;
            }
        }

        &_note {
            font-weight: normal;
            font-size: 13px;
            margin-top: 30px;
            line-height: 1.6;
            @include mq(sp) {
                font-size: 12px;
            }
        }

        &_map {
            margin-top: 75px;
            @include mq(sp) {
                margin-top: 30px;
            }

            iframe {
                width: 100%;
                @include mq(tb) {
                    height: 300px;
                }
            }
        }
    }
}
